.CodeMirror.cm-s-default { cursor: text; }
.CodeMirror-gutters { cursor: default; }
.CodeMirror.cm-s-default {
    border: 1px solid black;
    border-radius: 5px;
    text-align: left;
}

@import url('https://fonts.googleapis.com/css?family=Open+Sans');

body {
    font-family: 'Open Sans', sans-serif;
    text-align: center;
}

button {
    color: #fff;
    background-color: #999;
    border: 1px solid #000;
    padding: 10px;
    margin-top: 10px;
}
    button:hover {
        background-color: #333;
    }

main {
    display: flex;
    justify-content: space-around;
}
.CodeMirror.cm-s-default {
    width: 48%;
}
#terminal {
    width: 48%;
    border: 1px solid black;
    border-radius: 5px;
    background-color: black;
    text-align: left;
    overflow: hidden;
}
